.hero {
  height: 100%;
  display: grid;
  place-items: center;
}
.hero-slider {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -1;
}
.hero-slider::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.hero-slider img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.hero__content-box {
  background-color: hsla(0, 0%, 0%, 0.184);
  backdrop-filter: blur(3px);
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  display: grid;
  place-items: center;
}
.hero__content-box {
  gap: 0.5rem;
  opacity: 0;
  animation: hero-content-box 2s forwards;
}
@keyframes hero-content-box {
  to {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .hero__content-box {
    gap: 2rem;
  }
}
