.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.ornament-heading::after {
  content: "";
  position: absolute;
  background: url("/src/assets/images/heading-ornament.svg") no-repeat;
  bottom: -54px;
  left: 0;
  right: 0;
  width: 317px;
  height: 50px;
  object-fit: contain;
  transform: translateX(-50%);
  left: 50%;
}
.ornament-small-heading::after {
  content: "";
  position: absolute;
  background: url("/src/assets/images/heading-ornament.svg") no-repeat;
  bottom: -54px;
  left: 0;
  right: 0;
  width: 317px;
  height: 50px;
  object-fit: contain;
  transform: translateX(-33%);
  scale: 0.6;
}
.dark-ornament-heading::after {
  content: "";
  position: absolute;
  background: url("/src/assets/images/dark-ornament.svg") no-repeat center
    center/cover;
  bottom: -54px;
  width: 340px;
  height: 50px;
  object-fit: contain;
  transform: translateX(-50%);
  left: 50%;
}
.row {
  display: flex;
  align-items: center;
}
.icon {
  object-fit: contain;
}
