:root {
  --black: #000;
  --dark: hsl(210, 9%, 17%);
  --white: #fff;
  --main-clr: hsl(203, 22%, 32%);
  --ponuda-row-clr: hsl(28, 95%, 93%);
  --recenzija-card-clr: #405765;
  --footer-clr: #152b4b;
}
